In [1]:
import pandas as pd

In [73]:
pd.read_csv('assignment/northwind-categories.csv').to_csv('assignment/processed-northwind-categories.csv')

In [74]:
customer_df = pd.read_csv('assignment/northwind-customers.csv', on_bad_lines='warn', header=0)

b'Skipping line 8: expected 11 fields, saw 12\nSkipping line 9: expected 11 fields, saw 12\nSkipping line 10: expected 11 fields, saw 12\nSkipping line 16: expected 11 fields, saw 12\nSkipping line 19: expected 11 fields, saw 12\nSkipping line 22: expected 11 fields, saw 12\nSkipping line 23: expected 11 fields, saw 12\nSkipping line 24: expected 11 fields, saw 12\nSkipping line 27: expected 11 fields, saw 12\nSkipping line 30: expected 11 fields, saw 12\nSkipping line 31: expected 11 fields, saw 12\nSkipping line 32: expected 11 fields, saw 12\nSkipping line 35: expected 11 fields, saw 12\nSkipping line 41: expected 11 fields, saw 12\nSkipping line 58: expected 11 fields, saw 12\nSkipping line 62: expected 11 fields, saw 12\nSkipping line 63: expected 11 fields, saw 12\nSkipping line 68: expected 11 fields, saw 12\nSkipping line 70: expected 11 fields, saw 12\nSkipping line 75: expected 11 fields, saw 12\nSkipping line 77: expected 11 fields, saw 12\nSkipping line 82: expected 11 fields, saw 12\nSkipping line 85: expected 11 fields, saw 12\nSkipping line 89: expected 11 fields, saw 12\n'

In [75]:
customer_df.to_csv('assignment/processed-northwind-customers.csv')

In [76]:
employee_df = pd.read_csv('assignment/northwind-employees.csv', on_bad_lines='warn', header=0)

b'Skipping line 3: expected 18 fields, saw 19\nSkipping line 6: expected 18 fields, saw 21\nSkipping line 7: expected 18 fields, saw 22\nSkipping line 8: expected 18 fields, saw 20\n'

In [77]:
employee_df.to_csv('assignment/processed-northwind-employees.csv')

In [78]:
orders_df = pd.read_csv('assignment/northwind-orders.csv',on_bad_lines='warn', header=0)

b'Skipping line 4: expected 14 fields, saw 15\nSkipping line 5: expected 14 fields, saw 15\nSkipping line 6: expected 14 fields, saw 15\nSkipping line 7: expected 14 fields, saw 15\nSkipping line 10: expected 14 fields, saw 15\nSkipping line 15: expected 14 fields, saw 15\nSkipping line 19: expected 14 fields, saw 15\nSkipping line 35: expected 14 fields, saw 15\nSkipping line 36: expected 14 fields, saw 15\nSkipping line 41: expected 14 fields, saw 15\nSkipping line 44: expected 14 fields, saw 15\nSkipping line 45: expected 14 fields, saw 15\nSkipping line 46: expected 14 fields, saw 15\nSkipping line 51: expected 14 fields, saw 15\nSkipping line 53: expected 14 fields, saw 15\nSkipping line 56: expected 14 fields, saw 15\nSkipping line 57: expected 14 fields, saw 15\nSkipping line 60: expected 14 fields, saw 15\nSkipping line 65: expected 14 fields, saw 15\nSkipping line 80: expected 14 fields, saw 15\nSkipping line 85: expected 14 fields, saw 15\nSkipping line 88: expected 14 fields, saw 15\nSkipping line 94: expected 14 fields, saw 15\nSkipping line 101: expected 14 fields, saw 15\nSkipping line 114: expected 14 fields, saw 15\nSkipping line 116: expected 14 fields, saw 15\nSkipping line 120: expected 14 fields, saw 15\nSkipping line 126: expected 14 fields, saw 15\nSkipping line 133: expected 14 fields, saw 15\nSkipping line 140: expected 14 fields, saw 15\nSkipping line 160: expected 14 fields, saw 15\nSkipping line 162: expected 14 fields, saw 15\nSkipping line 168: expected 14 fields, saw 15\nSkipping line 174: expected 14 fields, saw 15\nSkipping line 175: expected 14 fields, saw 15\nSkipping line 177: expected 14 fields, saw 15\nSkipping line 180: expected 14 fields, saw 15\nSkipping line 190: expected 14 fields, saw 15\nSkipping line 201: expected 14 fields, saw 15\nSkipping line 203: expected 14 fields, saw 15\nSkipping line 204: expected 14 fields, saw 15\nSkipping line 212: expected 14 fields, saw 15\nSkipping line 213: expected 14 fields, saw 15\nSkipping line 217: expected 14 fields, saw 15\nSkipping line 220: expected 14 fields, saw 15\nSkipping line 224: expected 14 fields, saw 15\nSkipping line 229: expected 14 fields, saw 15\nSkipping line 232: expected 14 fields, saw 15\nSkipping line 234: expected 14 fields, saw 15\nSkipping line 235: expected 14 fields, saw 15\nSkipping line 241: expected 14 fields, saw 15\nSkipping line 248: expected 14 fields, saw 15\nSkipping line 250: expected 14 fields, saw 15\nSkipping line 265: expected 14 fields, saw 15\nSkipping line 266: expected 14 fields, saw 15\nSkipping line 279: expected 14 fields, saw 15\nSkipping line 295: expected 14 fields, saw 15\nSkipping line 300: expected 14 fields, saw 15\nSkipping line 304: expected 14 fields, saw 15\nSkipping line 313: expected 14 fields, saw 15\nSkipping line 317: expected 14 fields, saw 15\nSkipping line 320: expected 14 fields, saw 15\nSkipping line 322: expected 14 fields, saw 15\nSkipping line 335: expected 14 fields, saw 15\nSkipping line 338: expected 14 fields, saw 15\nSkipping line 339: expected 14 fields, saw 15\nSkipping line 341: expected 14 fields, saw 15\nSkipping line 360: expected 14 fields, saw 15\nSkipping line 363: expected 14 fields, saw 15\nSkipping line 376: expected 14 fields, saw 15\nSkipping line 382: expected 14 fields, saw 15\nSkipping line 383: expected 14 fields, saw 15\nSkipping line 388: expected 14 fields, saw 15\nSkipping line 391: expected 14 fields, saw 15\nSkipping line 398: expected 14 fields, saw 15\nSkipping line 399: expected 14 fields, saw 15\nSkipping line 401: expected 14 fields, saw 15\nSkipping line 402: expected 14 fields, saw 15\nSkipping line 404: expected 14 fields, saw 15\nSkipping line 406: expected 14 fields, saw 15\nSkipping line 413: expected 14 fields, saw 15\nSkipping line 417: expected 14 fields, saw 15\nSkipping line 425: expected 14 fields, saw 15\nSkipping line 433: expected 14 fields, saw 15\nSkipping line 437: expected 14 fields, saw 15\nSkipping line 439: expected 14 fields, saw 15\nSkipping line 444: expected 14 fields, saw 15\nSkipping line 458: expected 14 fields, saw 15\nSkipping line 463: expected 14 fields, saw 15\nSkipping line 469: expected 14 fields, saw 15\nSkipping line 474: expected 14 fields, saw 15\nSkipping line 479: expected 14 fields, saw 15\nSkipping line 482: expected 14 fields, saw 15\nSkipping line 484: expected 14 fields, saw 15\nSkipping line 486: expected 14 fields, saw 15\nSkipping line 488: expected 14 fields, saw 15\nSkipping line 492: expected 14 fields, saw 15\nSkipping line 509: expected 14 fields, saw 15\nSkipping line 517: expected 14 fields, saw 15\nSkipping line 521: expected 14 fields, saw 15\nSkipping line 524: expected 14 fields, saw 15\nSkipping line 531: expected 14 fields, saw 15\nSkipping line 537: expected 14 fields, saw 15\nSkipping line 540: expected 14 fields, saw 15\nSkipping line 543: expected 14 fields, saw 15\nSkipping line 544: expected 14 fields, saw 15\nSkipping line 548: expected 14 fields, saw 15\nSkipping line 555: expected 14 fields, saw 15\nSkipping line 557: expected 14 fields, saw 15\nSkipping line 560: expected 14 fields, saw 15\nSkipping line 563: expected 14 fields, saw 15\nSkipping line 567: expected 14 fields, saw 15\nSkipping line 568: expected 14 fields, saw 15\nSkipping line 580: expected 14 fields, saw 15\nSkipping line 581: expected 14 fields, saw 15\nSkipping line 584: expected 14 fields, saw 15\nSkipping line 588: expected 14 fields, saw 15\nSkipping line 593: expected 14 fields, saw 15\nSkipping line 595: expected 14 fields, saw 15\nSkipping line 597: expected 14 fields, saw 15\nSkipping line 600: expected 14 fields, saw 15\nSkipping line 604: expected 14 fields, saw 15\nSkipping line 605: expected 14 fields, saw 15\nSkipping line 612: expected 14 fields, saw 15\nSkipping line 614: expected 14 fields, saw 15\nSkipping line 622: expected 14 fields, saw 15\nSkipping line 625: expected 14 fields, saw 15\nSkipping line 626: expected 14 fields, saw 15\nSkipping line 628: expected 14 fields, saw 15\nSkipping line 630: expected 14 fields, saw 15\nSkipping line 631: expected 14 fields, saw 15\nSkipping line 639: expected 14 fields, saw 15\nSkipping line 640: expected 14 fields, saw 15\nSkipping line 641: expected 14 fields, saw 15\nSkipping line 642: expected 14 fields, saw 15\nSkipping line 644: expected 14 fields, saw 15\nSkipping line 654: expected 14 fields, saw 15\nSkipping line 657: expected 14 fields, saw 15\nSkipping line 659: expected 14 fields, saw 15\nSkipping line 661: expected 14 fields, saw 15\nSkipping line 665: expected 14 fields, saw 15\nSkipping line 667: expected 14 fields, saw 15\nSkipping line 668: expected 14 fields, saw 15\nSkipping line 671: expected 14 fields, saw 15\nSkipping line 676: expected 14 fields, saw 15\nSkipping line 679: expected 14 fields, saw 15\nSkipping line 681: expected 14 fields, saw 15\nSkipping line 682: expected 14 fields, saw 15\nSkipping line 684: expected 14 fields, saw 15\nSkipping line 686: expected 14 fields, saw 15\nSkipping line 689: expected 14 fields, saw 15\nSkipping line 694: expected 14 fields, saw 15\nSkipping line 702: expected 14 fields, saw 15\nSkipping line 713: expected 14 fields, saw 15\nSkipping line 715: expected 14 fields, saw 15\nSkipping line 718: expected 14 fields, saw 15\nSkipping line 723: expected 14 fields, saw 15\nSkipping line 724: expected 14 fields, saw 15\nSkipping line 725: expected 14 fields, saw 15\nSkipping line 726: expected 14 fields, saw 15\nSkipping line 727: expected 14 fields, saw 15\nSkipping line 735: expected 14 fields, saw 15\nSkipping line 743: expected 14 fields, saw 15\nSkipping line 763: expected 14 fields, saw 15\nSkipping line 767: expected 14 fields, saw 15\nSkipping line 776: expected 14 fields, saw 15\nSkipping line 789: expected 14 fields, saw 15\nSkipping line 791: expected 14 fields, saw 15\nSkipping line 792: expected 14 fields, saw 15\nSkipping line 796: expected 14 fields, saw 15\nSkipping line 797: expected 14 fields, saw 15\nSkipping line 803: expected 14 fields, saw 15\nSkipping line 806: expected 14 fields, saw 15\nSkipping line 813: expected 14 fields, saw 15\nSkipping line 822: expected 14 fields, saw 15\nSkipping line 830: expected 14 fields, saw 15\n'

In [79]:
orders_df.to_csv('assignment/processed-northwind-orders.csv')

In [80]:
pd.read_csv('assignment/northwind-products.csv').to_csv('assignment/processed-northwind-products.csv')

In [81]:
pd.read_csv('assignment/northwind-suppliers.csv',on_bad_lines='warn').to_csv('assignment/processed-northwind-suppliers.csv')

b'Skipping line 8: expected 12 fields, saw 13\nSkipping line 9: expected 12 fields, saw 13\nSkipping line 15: expected 12 fields, saw 13\nSkipping line 19: expected 12 fields, saw 13\nSkipping line 21: expected 12 fields, saw 13\nSkipping line 25: expected 12 fields, saw 13\nSkipping line 27: expected 12 fields, saw 13\nSkipping line 28: expected 12 fields, saw 13\nSkipping line 29: expected 12 fields, saw 13\n'

In [82]:
pd.read_csv('assignment/northwond-order-details.csv').to_csv('assignment/processed-northwond-order-details.csv')

In [85]:
pd.read_csv('assignment/processed-northwind-customers.csv')

,Unnamed: 0,customerID,companyName,contactName,contactTitle,address,city,region,postalCode,country,phone,fax
0,0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...,...
62,62,WANDK,Die Wandernde Kuh,Rita Müller,Sales Representative,Adenauerallee 900,Stuttgart,NaN,70563,Germany,0711-020361,0711-035428
63,63,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,NaN,90110,Finland,981-443655,981-443655
64,64,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
65,65,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,NaN,21240,Finland,90-224 8858,90-224 8858
66,66,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,(26) 642-7012

In [86]:
pd.read_csv('assignment/processed-northwind-orders.csv')

,Unnamed: 0,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,2,10254,CHOPS,5,1996-07-11 00:00:00.000,1996-08-08 00:00:00.000,1996-07-23 00:00:00.000,2,22.98,Chop-suey Chinese,Hauptstr. 31,Bern,NaN,3012,Switzerland
3,3,10255,RICSU,9,1996-07-12 00:00:00.000,1996-08-09 00:00:00.000,1996-07-15 00:00:00.000,3,148.33,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
4,4,10257,HILAA,4,1996-07-16 00:00:00.000,1996-08-13 00:00:00.000,1996-07-22 00:00:00.000,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,649,11072,ERNSH,4,1998-05-05 00:00:00.000,1998-06-02 00:00:00.000,NaN,2,258.64,Ernst Handel,Kirchgasse 6,Graz,NaN,8010,Austria
650,650,11073,PERIC,2,1998-05-05 00:00:00.000,1998-06-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico
651,651,11074,SIMOB,7,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,NaN,1734,Denmark
652,652,11075,RICSU,8,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
653,653,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA